/* .box{
    width: 100px;
    height: 100px;
    margin: 40px;
    background-color:blue;
    
}; */

.pentagon {
    position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: red transparent;
    margin: 40px;
  }
  .pentagon:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent red;
  }

  /* .triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
} */

/* .oval {
    height: 50px;
    width: 100px;
    background-color: #555;
    border-radius: 50%;
  } */
